.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-sidenav-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.text-container {
  display: flex;

}

.mat-sidenav-content {
  width: 100%;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 60px 15px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);

}

.mat-sidenav{
  width: 20%;
  border: 1px solid rgba(0,0,0,.03);
  box-shadow: 0 2px 15px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
}

.action-container {
  margin-top: 10px;
  background: cornflowerblue;
  border: 1px solid rgba(0,0,0,.03);
}

.content-container {
  margin: 20px;
  padding: 15px;
  border: 2px solid black;
}
