<header>
  <div class="logo-image">The logo image</div>
  <div class="logo-text">Logo text</div>
</header>
<section class="main">
  <div class="player-profile">
    <div class="personal-profile">
      <ul>
        <li>First name: Mehdi</li>
        <li>Last name: El</li>
        <li>Birth date: 04/07/1994</li>
        <li>Birth place: Magical Casa</li>
      </ul>
    </div>
    <div class="technical-profile">
      <ul>
        <li>Position: AMD, CF, LW</li>
        <li>Skills: Dribling, passing</li>
        <li>Team: FC C</li>
        <li>National Team: NAL</li>
      </ul>
    </div>
  </div>

  <div class="stats">

  </div>

  <footer>
    <p> Some footer content in here, date <span>09/12/2018</span></p>
  </footer>
</section>
