mat-sidenav-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

mat-sidenav-content {
  width: 70%;
}

mat-sidenav {
  width: 30%;
}

.sideNav-header {
  padding: 10px;
  background: darkolivegreen;
  color: white;
}


.sideNav-header>h2 {
  margin-left: 10px;
}

.sideNav-description {
  margin-left: 10px;
}

.selected-text {
  font-family: Arab;
  font-weight: normal;
}

mat-sidenav form {
  display: flex;
  justify-content: center;
}

.action-container {
  position: relative;
  background: black;
  color: azure;
  border-radius: .4em;
}

/*.action-container:after {*/
/*  content: '';*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 50%;*/
/*  width: 0;*/
/*  height: 0;*/
/*  border: 8px solid transparent;*/
/*  border-top-color: #85aeb2;*/
/*  border-bottom: 0;*/
/*  margin-left: -8px;*/
/*  margin-bottom: -8px;*/
/*}*/
